html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

#registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
}

#registration-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

p {
    display: none;
}